<header ng-controller="HeaderCtrl" id="header">
  <div class="limits clearfix">
    <h1 class="logo">
      <a ui-sref="main" href="#" title="Minha Música">Minha Música</a>
    </h1>
    <form action="" id="search-form">
      <input type="text" name="q" id="q" value="" placeholder="busque por artistas, músicas ou evento"
             class="search-input">
      <button type="submit" id="search-button" class="search-button"><span></span>Buscar</button>
    </form>
    <div id="genre">
      <a href="#" title="Gêneros" class="genre-trigger">Gêneros <span class="arrow"></span></a>

      <div class="genre-dropdown">
        <ul class="genre-dropdown-ul">
          <li><a href="#" title="Arrocha">Arrocha</a></li>
          <li><a href="#" title="Forró">Forró</a></li>
        </ul>
      </div>
      <!-- /.genre-dropdown -->
    </div>
    <!-- /#genre -->
    <div id="header-user">
      <div ng-hide="isAuthenticated" class="not-logged">
        <span class="icon"></span>
        <p><a ui-sref="login" href="#" title="Faça login">Faça login</a> ou <a ui-sref="signup" href="#"                                                                      title="Cadastre-se">Cadastre-se</a></p>
      </div>
      <div ng-show="isAuthenticated" class="logged clearfix">
        <span class="avatar">
          <img src="http://placehold.it/34x34" alt="">
        </span>
        <p>Olá, </p>
        <ul class="links clearfix">
          <li><a href="#painel" title="Painel">Painel</a></li>
          <li><a ng-click="logout()" href="#" title="Sair">Sair</a></li>
        </ul>
      </div>
    </div>
    <!-- /#header-user -->
  </div>
  <!-- /.header -->
</header>
