<section id="banners">
  <ul id="banners-ul">
    <li>
      <a href="" title="">
        <img src="images/banners/banner-1.jpg" alt="">
      </a>
    </li>
  </ul>
  <div id="banners-thumbs">
    
  </div><!-- /#banners-thumbs -->
</section><!-- /#banners -->




<section class="main-content three-cols">
  <div class="limits clearfix three-cols">
  
    
    
     <div id="most-downloaded" class="box">
      <div class="box-header">
        <h2 class="box-title"><strong>Mais</strong> Baixados</h2>
      </div><!-- /.box-header -->
      <div class="box-content">
        <div class="most-downloaded-controls">
          <a href="#" title="Mês" class="active">Mês</a>
          <a href="#" title="Geral">Geral</a>
        </div><!-- /.most-downloaded-controls -->
        <ul class="most-downloaded-list">
         
          <li id="most-downloaded-item" class="list-box-cd">
            <span class="number">1</span>
            <div class="hover">
              <h2 class="title">
                <a href="#" title="Garota Safada - Uma nova história 2014" class="title-a">Garota Safada - Uma nova história 2014</a>
              </h2>
              <a href="#" class="user" title="Usuário">logindeusuario</a>
              <p class="downloads"><strong>353153</strong> downloads</p>
            </div>
            <figure class="cd-thumb list-box-cd-thumb">
              <img src="http://placehold.it/206x206" alt="Garota Safada - Uma nova história 2014">
            </figure>
          </li>
          <li class="list-box-cd">
            <span class="number">2</span>
            <div class="hover">
              <h2 class="title">
                <a href="#" title="Garota Safada - Uma nova história 2014" class="title-a">Garota Safada - Uma nova história 2014</a>
              </h2>
              <a href="#" class="user" title="Usuário">logindeusuario</a>
              <p class="downloads"><strong>353153</strong> downloads</p>
            </div>
            <figure class="cd-thumb list-box-cd-thumb">
              <img src="http://placehold.it/99x99" alt="Garota Safada - Uma nova história 2014">
            </figure>
          </li>
          
        </ul>
      </div><!-- /.box-content -->
    </div><!-- /#most-downloaded -->
    
      
      
      
      
        
    <div id="lastest-uploads" class="box">
      <div class="box-header">
        <h2 class="box-title"><strong>Últimos</strong> Uploads</h2>
      </div><!-- /.box-header -->
      <div class="box-content">
        
        
        <ul class="list-cd">
          <li class="list-cd-box clearfix">
            <figure class="cd-thumb list-cd-box-thumb">
              <a href="#" title="">
                <img src="http://placehold.it/71x71" alt="">
              </a>
            </figure>
            <h2 class="list-cd-box-title">
              <a href="#" title="Aviões do Forró - Ao Vivo Aracajú - 2014">Aviões do Forró - Ao Vivo Aracajú - 2014</a>
            </h2>
            <a href="#" class="user list-cd-box-user" title="">BuchechaCDs</a>
            <span class="time">há 3 min atrás</span>
          </li>
        </ul>
        
        
        <div class="box-content-buttons">
          <a href="#" class="button-arrow" title="Ver todos os uploads">Ver todos <span class="arrow"></span></a>
        </div><!-- /.box-content-buttons -->
        
      </div><!-- /.box-content -->
    </div><!-- /#lastest-uploads -->
                   
            
                          
                   
               
                   
    <div id="next-events" class="box">
      <div class="box-header">
        <h2 class="box-title"><strong>Últimos</strong> Uploads</h2>
      </div><!-- /.box-header -->
      <div class="box-content">
      
      
      
        <ul class="list-events">
          <li class="list-events-box">
            <a href="" class="list-events-box-a">
              <figure class="cd-thumb list-events-box-thumb">
                <img src="http://placehold.it/312x110" alt="">
              </figure>
              <div class="list-events-box-thumb-text">
                <strong class="dates">01, 02, 03 de JAN/2015</strong>
                <h2 class="title"></h2>
              </div>
            </a>
          </li>
        </ul><!-- /.list-events -->
      
      
      
      
        <div class="box-content-buttons">
          <a href="#" class="button-arrow" title="Ver todos os uploads">Ver todos <span class="arrow"></span></a>
        </div><!-- /.box-content-buttons -->
      
      
      </div><!-- /.box-content -->
    </div><!-- /#next-events -->
                  
                   
                    
  </div><!-- /.limits -->
</section>