<!-- Playlist -->
<div id="playlist"
     class="visible">
  <audio media-player="player" data-playlist="playlist"></audio>
  <a href="javascript:void(0)"
     class="playlist-plug"
     title="Esconder Playlist"><span class="icon"></span>Esconder</a>

  <div class="playlist-options">
    <div class="limits clearfix">
      <div class="playlist-count">
        <span class="title">Música</span> <strong class="desc"> <span id="playlist-count-actual">2</span> de
        <span id="playlist-count-total">12</span> </strong>
      </div>
      <!-- /.playlist-count -->
      <div class="playlist-controls clearfix">
        <div class="playlist-controls-actions clearfix">
          <a
            ng-click="player.prev()"
            class="playlist-controls-actions-button prev"
            title="Anterior">Anterior</a>
          <a
            ng-click="player.playPause()"
            class="playlist-controls-actions-button play"
            title="Tocar">Tocar</a>
          <a
            ng-click="player.next()"
            class="playlist-controls-actions-button next"
            title="Próximo">Próximo</a>
        </div>
        <!-- /.playlist-controls-actions -->
        <div class="playlist-controls-player">
          <div class="playlist-controls-actual">
            <strong id="playlist-actual-music"
                    class="music">Vamos tomar uma agora, pode ser?</strong> por <span id="playlist-actual-artist"
                                                                                      class="artist">Garota Safada - Uma nova história 2014</span>
          </div>
          <div class="playlist-controls-progress clearfix">
            <span class="playlist-controls-time init">0:00</span>

            <div class="playlist-controls-progress-slider"></div>
            <span class="playlist-controls-time end">3:34</span>
          </div>
        </div>
        <!-- /.playlist-controls-player -->
        <div class="playlist-controls-options"></div>
        <!-- /.playlist-controls-options -->
      </div>
    </div>
  </div>
  <!-- /.playlist-controls -->
  <div class="playlist-musics">
    <div id="playlist-musics-list"
         class="playlist-musics-list-wrapper flexslider">
      <div class="playlist-musics-list-ol slides clearfix">
        <slick dots="false"
               touch-move="true"
               infinite="false"
               slides-to-show="4"
               slides-to-scroll="4"
               variable-width="true"
               autoplay="false"
               easing="easeInOutExpo"
               pauseOnHover="false"
               autoplaySpeed="800">
          <div class="list_item">
            <a href="">
              <figure class="cd-thumb">
                <img src="http://placehold.it/52x52"
                     alt="">
              </figure>
              <div class="text">
                <strong class="music">Vamos tomar uma</strong> <span class="artist">Garota Safada - Uma nova história 2014</span>
              </div>
            </a>
          </div>
        </slick>
      </div>
    </div>
  </div>
</div>
