<section id="profile">
  <div class="limits">
    
    <header class="profile-header">
      <figure class="profile-cover">
        <img src="http://placehold.it/1000x368" alt="">
      </figure>
      <div class="profile-dados clearfix">
        <figure class="avatar">
          <img src="http://placehold.it/124x124" alt="">
        </figure>
        <div class="info">
          <h1 class="name">Victor Aldabalde</h1>
          <p class="desc">Recife - PE</p>
        </div>
        <div class="redes">
          <ul>
            <li><a href="#" title="Instagram" class="instagram">Instagram</a></li>
            <li><a href="#" title="Twitter" class="twitter">Twitter</a></li>
            <li><a href="#" title="Facebook" class="facebook">Facebook</a></li>
          </ul>
        </div>
      </div>
    </header>
    
    <div class="profile-content clearfix">
      
      <article class="profile-uploads box">
        <div class="box-header divider clearfix">
          <h2 class="box-title"><strong>Últimos</strong> Uploads</h2>
          <span class="count-description">
            <strong>09</strong> uploads
          </span>
        </div><!-- /.box-header -->
        <div class="box-content">
          
          <ul class="list-cd">
          
            <li>
              <div class="list-cd-box clearfix">              
                <figure class="cd-thumb list-cd-box-thumb">
                  <a ui-sref="cd" href="#" title="">
                    <img src="http://placehold.it/71x71" alt="">
                  </a>
                </figure>
                <h2 class="list-cd-box-title">
                  <a ui-sref="cd" href="#" title="Aviões do Forró - Ao Vivo Aracajú - 2014">Aviões do Forró - Ao Vivo Aracajú - 2014</a>
                </h2>
                <a ui-sref="perfil" href="#" class="user list-cd-box-user" title="">BuchechaCDs</a>
                <span class="time">há 3 min atrás</span>
              </div><!-- /.list-cd-box -->
            </li>
            
            <li>
              <div class="list-cd-box clearfix">              
                <figure class="cd-thumb list-cd-box-thumb">
                  <a ui-sref="cd" href="#" title="">
                    <img src="http://placehold.it/71x71" alt="">
                  </a>
                </figure>
                <h2 class="list-cd-box-title">
                  <a ui-sref="cd" href="#" title="Aviões do Forró - Ao Vivo Aracajú - 2014">Aviões do Forró - Ao Vivo Aracajú - 2014</a>
                </h2>
                <a ui-sref="perfil" href="#" class="user list-cd-box-user" title="">BuchechaCDs</a>
                <span class="time">há 3 min atrás</span>
              </div><!-- /.list-cd-box -->
            </li>
            
            <li>
              <div class="list-cd-box clearfix">              
                <figure class="cd-thumb list-cd-box-thumb">
                  <a ui-sref="cd" href="#" title="">
                    <img src="http://placehold.it/71x71" alt="">
                  </a>
                </figure>
                <h2 class="list-cd-box-title">
                  <a ui-sref="cd" href="#" title="Aviões do Forró - Ao Vivo Aracajú - 2014">Aviões do Forró - Ao Vivo Aracajú - 2014</a>
                </h2>
                <a ui-sref="perfil" href="#" class="user list-cd-box-user" title="">BuchechaCDs</a>
                <span class="time">há 3 min atrás</span>
              </div><!-- /.list-cd-box -->
            </li>
            
            <li>
              <div class="list-cd-box clearfix">              
                <figure class="cd-thumb list-cd-box-thumb">
                  <a ui-sref="cd" href="#" title="">
                    <img src="http://placehold.it/71x71" alt="">
                  </a>
                </figure>
                <h2 class="list-cd-box-title">
                  <a ui-sref="cd" href="#" title="Aviões do Forró - Ao Vivo Aracajú - 2014">Aviões do Forró - Ao Vivo Aracajú - 2014</a>
                </h2>
                <a ui-sref="perfil" href="#" class="user list-cd-box-user" title="">BuchechaCDs</a>
                <span class="time">há 3 min atrás</span>
              </div><!-- /.list-cd-box -->
            </li>
            
          </ul>  
        </div><!-- /.box-content -->
      </article><!-- /.profile-uploads -->
      
      
      <article class="profile-calendar box">
        <div class="box-header">
          <h2 class="box-title"><strong>Calendário</strong> de Eventos</h2>
        </div><!-- /.box-header -->
        <div class="box-content">
          <ul class="calendar-ul">
            <li>
              <span class="date">09 <span>Jan</span></span>
              <div class="text">
                <strong class="title">Festivão de verão 2015</strong>
                <span class="desc">Salvador - BA</span>
              </div>
            </li>
            <li>
              <span class="date">09 <span>Jan</span></span>
              <div class="text">
                <strong class="title">Festivão de verão 2015</strong>
                <span class="desc">Salvador - BA</span>
              </div>
            </li>
          </ul>
        </div><!-- /.box-content -->
      </article><!-- /.profile-calendar -->
      
    </div>
    
  </div><!-- /.limits -->
</section>
