<form ng-submit="submit()" name="register" style="margin-top:100px;" class="form-register" novalidate>
	
	
	<input name="nome" ng-model="nome" type="text"  placeholder="nome" required/>
    <p class="help-block" ng-show="register.nome.$touched && register.nome.$invalid">Por favor digite seu nome.</p>
   
   	<input name="email" ng-model="email" type="email"  placeholder="email" required/>
    <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Por favor digite seu email.</p>
   
   
	<input name="senha" type="password"  ng-model="senha" placeholder="senha" required/>
	<input name="conf_senha" type="password" ng-model="conf_senha"  placeholder="confirmar senha" validate-equals="senha" required/>
    <p class="help-block" ng-show="register.conf_senha.$dirty && register.conf_senha.$invalid">Preencha sua senha corretamente.</p>

	<label>M</label><input name="sexo" type="radio"  ng-model="sexo" value="m"/>
	<label>F</label><input name="sexo" type="radio"  ng-model="sexo" value="f" selected />
	
	<input type="date" name="nascimento"  ng-model="nascimento" type="date"  required/>
	
	
	<select ng-model="tipoSelecionado" ng-options="item.nome for item in tipos" required>
	</select>
	
	<select ng-model="estadoSelecionado" ng-options="item.nome for item in estados track by item.sigla" required>
			<option value="">Selecione o estado</option>
	</select>	
	<select ng-model="cidadeSelecionada" ng-show="estadoSelecionado" ng-options="item.nome for item in estadoSelecionado.cidades" required>
		<option value="">Selecione a cidade</option>
	</select>	
	

	<input value="enviar"  type="submit" ng-disabled="register.$invalid"/>
</form>

