/* line 4, ../sass/helpers.sass */
.sprite, .sprite-icons, .sprite-controls {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
}

/* line 9, ../sass/helpers.sass */
.sprite-icons {
  background-image: url(../images/sprite-icons.png);
}

/* line 12, ../sass/helpers.sass */
.sprite-controls {
  background-image: url(../images/sprite-controls.png);
}

/* line 15, ../sass/helpers.sass */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 20, ../sass/helpers.sass */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 26, ../sass/helpers.sass */
.none {
  display: none;
}

/* line 29, ../sass/helpers.sass */
.turn-off {
  opacity: 0;
}

/* line 33, ../sass/helpers.sass */
.helper-invalid {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 5px 0;
  padding: 5px 10px;
  font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #991d1d;
  background: #f5dfdf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 44, ../sass/helpers.sass */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 48, ../sass/helpers.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 58, ../sass/helpers.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 66, ../sass/helpers.sass */
.invisible {
  visibility: hidden;
}

/* line 69, ../sass/helpers.sass */
.clearfix {
  *zoom: 1;
}
/* line 70, ../sass/helpers.sass */
.clearfix:before {
  content: " ";
  display: table;
}
/* line 73, ../sass/helpers.sass */
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/* line 79, ../sass/helpers.sass */
.clear {
  clear: both;
}

/* line 82, ../sass/helpers.sass */
.f-left {
  float: left;
}

/* line 85, ../sass/helpers.sass */
.f-right {
  float: right;
}

/* line 88, ../sass/helpers.sass */
.bgNone {
  background: none !important;
}

/* line 91, ../sass/helpers.sass */
.pTop0 {
  padding-top: 0 !important;
}

/* line 94, ../sass/helpers.sass */
.pTop5 {
  padding-top: 5px !important;
}

/* line 97, ../sass/helpers.sass */
.widthAuto {
  width: auto !important;
}

/* line 100, ../sass/helpers.sass */
.w70 {
  width: 70px;
}

/* line 103, ../sass/helpers.sass */
.pRight0 {
  padding-right: 0 !important;
}

/* line 106, ../sass/helpers.sass */
.pRight18 {
  padding-right: 18px;
}

/* line 109, ../sass/helpers.sass */
.bgImageNone {
  background-image: none !important;
}

/* line 112, ../sass/helpers.sass */
.noBg {
  background: none !important;
}

/* line 115, ../sass/helpers.sass */
.mRight20 {
  margin-right: 20px !important;
}

/* line 117, ../sass/helpers.sass */
.block {
  display: block !important;
}
