<div class="modal fade" id="modalAddLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		<h1>Login</h1>
        <% if(error){ %>
          <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <h4></h4>
            <p>
              <%= error %>
            </p>
          </div>
          <% } %>
      </div>


      <form action="http://localhost:1337/admin/login" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Digite seu nome" />
          </div>
          <div class="form-group">
            <input type="password" name="senha" class="form-control" />
          </div>

        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="Logar" />
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {

    $('#modalAddLogin').modal('show');

  });
</script>

