<form ng-submit="submit()" name="register" class="form-register" novalidate>
  
	<input name="nome"  type="text" ng-model="nome"  placeholder="nome" required/>
    <p class="help-block" ng-show="register.nome.$dirty && register.nome.$invalid">Por favor escreva seu nome.</p>
   
	<input name="email" ng-model="email" type="email"  placeholder="email" required/>
    <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Por favor escreva seu email.</p>
   
	<input name="senha" type="password"  ng-model="senha" placeholder="senha" required/>
    <input name="conf_senha" type="password" ng-model="conf_senha"  placeholder="confirmar senha" validate-equals="senha" required/>
	<p class="help-block" ng-show="register.conf_senha.$dirty && register.conf_senha.$invalid">As senha não conferem.</p>
	<ul>
		<li><label>Sexo:</label></li>
		<li>
			<label>M</label><input ng-model="nome"  name="sexo" type="radio"  value="m" checked/>
			<label>F</label><input ng-model="nome"  name="sexo" type="radio"  value="f"/>
		</li>
	</ul>	
    <input value="enviar"  type="submit" ng-disabled="register.$invalid"/>	
</form>
