/* line 3, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.sprite, .sprite-icons, .sprite-controls {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  display: inline-block; }

/* line 8, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.sprite-icons {
  background-image: url(../images/sprite-icons.png); }

/* line 11, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.sprite-controls {
  background-image: url(../images/sprite-controls.png); }

/* line 14, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }
  /* line 19, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

/* line 25, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.none {
  display: none; }

/* line 28, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.turn-off {
  opacity: 0; }

/* line 31, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 35, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  /* line 45, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* line 53, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.invisible {
  visibility: hidden; }

/* line 56, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.clearfix {
  *zoom: 1; }
  /* line 57, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
  .clearfix:before {
    content: " ";
    display: table; }
  /* line 60, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
  .clearfix:after {
    content: " ";
    display: table;
    clear: both; }

/* line 66, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.clear {
  clear: both; }

/* line 69, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.f-left {
  float: left; }

/* line 72, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.f-right {
  float: right; }

/* line 75, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.bgNone {
  background: none !important; }

/* line 78, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.pTop0 {
  padding-top: 0 !important; }

/* line 81, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.pTop5 {
  padding-top: 5px !important; }

/* line 84, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.widthAuto {
  width: auto !important; }

/* line 87, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.w70 {
  width: 70px; }

/* line 90, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.pRight0 {
  padding-right: 0 !important; }

/* line 93, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.pRight18 {
  padding-right: 18px; }

/* line 96, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.bgImageNone {
  background-image: none !important; }

/* line 99, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.noBg {
  background: none !important; }

/* line 102, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.mRight20 {
  margin-right: 20px !important; }

/* line 104, /Users/victoraldabalde/Sites/hmcl/minhamusica/frontend/app/sass/helpers.sass */
.block {
  display: block !important; }

/*# sourceMappingURL=helpers.css.map */