<ul class="col-nav-ul">
  <li><a ui-sref="novocd" href="#" class="active"><span class="icon-16 icon-new"></span> Novo CD</a></li>
  <li><a ui-sref="cds" href="#"><span class="icon-16 icon-cd"></span> Meus CDs</a></li>
  <li><a ui-sref="cds" href="#"><span class="icon-16 icon-pin"></span> Novo Evento</a></li>
  <li><a ui-sref="cds" href="#"><span class="icon-16 icon-calendar"></span> Meus Eventos</a></li>
  <li><a ui-sref="cds" href="#"><span class="icon-16 icon-config"></span> Configurações</a></li>
  <li><a ui-sref="cds" href="#"><span class="icon-16 icon-lock"></span> Alterar Senha</a></li>
</ul>