<!-- Breadcrumb -->
<ng-include src="'views/breadcrumb.html'"></ng-include>
<!-- end Breadcrumb -->
<section id="new-cd" class="main-content painel-section">
  <div class="limits">
    <header class="painel-section-header">
      <h1 class="title">Painel do Usuário</h1>
      <span class="subtitle">Usuário Divulgador</span>
    </header>
    <!-- Painel Nav -->
    <aside class="col-esq col-nav">
      <ng-include src="'views/painel/painelnav.html'"></ng-include>
    </aside>
    <!-- end Painel Nav -->
    <ui-view></ui-view>
    <div class="clear"></div>
  </div><!-- /.limits -->
</section>
