<!-- Breadcrumb -->
<ng-include src="'views/breadcrumb.html'"></ng-include><!-- end Breadcrumb -->
<section id="section-cd"
         class="main-content">
    <div class="limits clearfix">
        <article id="cd-content"
                 class="column-left">
            <div class="cd-info clearfix">
                <figure class="cd-thumb cd-info-thumb">
                    <a href="http://placehold.it/986x986"
                       class="view-large"
                       titler="Ver maior"> <img src="http://placehold.it/206x206"
                                                width="206"
                                                height="206"
                                                ng-src="/public/img/{{cd.capa}}"> </a>
                </figure>
                <div class="cd-info-content clearfix">
                    <h1 class="title">{{cd.titulo}}</h1>

                    <p class="desc">{{cd.descricao}}</p>

                    <div class="dados">
                        <dl>
                            <dt>Tamanho do CD</dt>
                            <dd>{{cd.size}}MB</dd>
                        </dl>
                        <dl>
                            <dt>Data de Envio</dt>
                            <dd>{{cd.createdAt|date : "dd/MM/yyyy"}}</dd>
                        </dl>
                        <dl>
                            <dt>Downloads</dt>
                            <dd>{{cd.downloads}}</dd>
                        </dl>
                    </div>
                    <!-- /.dados -->
                    <a ng-click="downloadCD()"
                       class="button-download-big"
                       title="Baixar CD"><span class="icon"></span>Baixar CD</a>

                    <div class="cd-user">
                        <span class="avatar">
                            <img src="http://placehold.it/34x34"
                                 style="width: 34px;height:34px"
                                 ng-src="/public/img/{{cd.artista.foto}}">
                        </span>
                        <small>Enviado por:</small>
                        <a ui-sref="perfil({id:cd.artista.id})"
                           class="user">{{cd.artista.nome}}</a>
                    </div>
                </div>
            </div>
            <!-- /.cd-info -->
            <div class="cd-share clearfix">
                <div class="col share">
                    <strong class="title">Compartilhe:</strong>

                    <div class="social clearfix">
                        <span id="facebook">
                            <div class="fb-like"
                                 data-href="http://musicatop.jelastic.websolute.net.br/cd/{{cd.id}}"
                                 data-layout="button_count"
                                 data-action="like"
                                 data-show-faces="true"
                                 data-share="false"></div>
                        </span><!-- /.facebook -->
                        <span id="twitter"
                              ng-if="cd.musicas.length>0">
                            <a href="https://twitter.com/share"
                               class="twitter-share-button">Tweet</a>
                            <script>!function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + '://platform.twitter.com/widgets.js';
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, 'script', 'twitter-wjs');</script>
                        </span><!-- /.twitter -->
                        <span id="gplus">
                            <div class="g-plusone"></div>
                        </span><!-- /.gplus -->
                    </div>
                </div>
                <div class="col link">
                    <strong class="title">Link:</strong> <input type="text"
                                                                readonly="readonly"
                                                                value="http://musicatop.jelastic.websolute.net.br/cd/{{cd.id}}">
                </div>
            </div>
            <!-- /.cd-share -->
            <div id="musics"
                 class="box box-inner">
                <div class="box-header clearfix box-header-balloon">
                    <h2 class="box-title">Músicas</h2>

                    <div class="balloon musics-count">{{cd.musicas.length}}</div>
                    <a ng-click="addAll()"
                       class="button button-play"><span class="icon-16 icon-play"></span>Tocar todas as músicas</a>
                </div>
                <!-- /.box-header -->
                <div class="box-content">
                    <ol class="musics-list">
                        <li class="musics-list-li"
                            ng-repeat="musica in cd.musicas|orderBy:'track'">
                            <span class="number">{{musica.track}}</span>

                            <h2 class="title"
                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 495px;color: #e11d70;">
                                <a style="cursor:pointer;"
                                   ng-click="addToPlaylist(musica)">{{musica.nome}}</a></h2>
                            <ul class="options">
                                <li><a ng-click="addToPlaylist(musica)"
                                       class="button-icon"
                                       title="Tocar música"><span class="icon-16 icon-play"></span>Tocar música</a></li>
                                <li><a href="#"
                                       class="button-icon"
                                       ng-click="downloadSong(musica.id)"
                                       title="Baixar música"><span class="icon-16 icon-download"></span>Baixar
                                                                                                        música</a></li>
                                <li><a href="#"
                                       class="button-icon"
                                       ng-click="shareSong(musica)"
                                       title="Compartilhar música"><span class="icon-16 icon-share"></span>Compartilhar
                                                                                                           música</a></li>
                            </ul>
                        </li>
                    </ol>
                    <!-- /.musics-list -->
                </div>
                <!-- /.box-content -->
            </div>
            <!-- /.#musics -->
            <div id="comments"
                 ng-show="cd.musicas!=null"
                 class="box box-inner">
                <div class="box-header clearfix box-header-balloon">
                    <h2 class="box-title">Comentários</h2>

                    <div class="balloon comments-count">
                        <div class="fb-comments-count"
                             data-href="http://musicatop.jelastic.websolute.net.br/cd/{{cd.id}}"></div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-content">
                    <div class="fb-comments"
                         data-href="http://musicatop.jelastic.websolute.net.br/cd/{{cd.id}}"
                         data-numposts="5"
                         data-colorscheme="light"></div>
                </div>
                <!-- /.box-content -->
            </div>
        </article>
        <!-- /.column-left -->
        <aside class="content-aside column-right">
            <div id="next-events-aside"
                 class="box box-inner">
                <div class="box-header">
                    <h2 class="box-title"><strong>Próximos</strong> Eventos</h2>
                </div>
                <!-- /.box-header -->
                <div class="box-content">
                    <ul class="list-events">
                    <li class="list-events-box"
                        ng-repeat="evento in eventos">
                        <a ui-sref="evento({id:evento.id})"
                           class="list-events-box-a">
                            <figure class="cd-thumb list-events-box-thumb">
                                <img src="http://placehold.it/312x110"
                                     width="312"
                                     height="110"
                                     ng-src="/public/img/{{evento.foto}}">
                            </figure>
                            <div class="list-events-box-thumb-text clearfix">
                                <strong class="dates">{{evento.inicio| amCalendar}}</strong>
                                <h2 class="title">{{evento.nome}}</h2>
                                <span class="local">{{evento.local.name}}
                                    / {{evento.cidade.nome}}</span> <span class="button">Saiba Mais</span>
                            </div>
                        </a>
                    </li>
                </ul>
                    <!-- /.list-events -->
                </div>
                <!-- /.box-content -->
            </div>
            <!-- /#next-events-aside -->
            <div id="related"
                 class="box box-inner">
                <div class="box-header">
                    <h2 class="box-title">Relacionados</h2>
                </div>
                <!-- /.box-header -->
                <div class="box-content">
                    <ul class="list-cd">
                      <li ng-repeat="cd in related">
                          <div class="list-cd-box clearfix">
                              <figure class="cd-thumb list-cd-box-thumb">
                                  <a ui-sref="cd({id:cd.id})"
                                     title="{{cd.titulo}}">
                                      <img ng-src="/public/img/{{cd.capa}}"
                                           style="width: 70px;height: 70px;">
                                  </a>
                              </figure>
                              <h2 class="list-cd-box-title">
                                  <a ui-sref="cd({id:cd.id})"
                                     title="Aviões do Forró - Ao Vivo Aracajú - 2014">{{cd.titulo}}</a>
                              </h2>
                              <a ui-sref="genero({id:cd.genero.id})"
                                 class="user list-cd-box-user"
                                 title="">{{cd.genero.nome}}</a>
                              <p class="time">Enviado <span am-time-ago="cd.createdAt"></span></p>
                          </div>
                          <!-- /.list-cd-box -->
                      </li>
                  </ul>
                </div>
                <!-- /.box-content -->
            </div>
            <!-- /#related -->
        </aside>
    </div>
    <!-- /.limits -->
</section>