<footer id="footer">
    <div class="footer-primary">
        <div class="limits">
            <div class="footer-social clearfix">
                <ul class="clearfix">
                    <li>
                        <a id="social-instagram"
                           href="#"
                           title="Instagram"
                           target="_blank">
                            <span class="icon"></span>
                            <span class="desc">instagram.com/<strong>musicatop</strong></span>
                        </a>
                    </li>
                    <li>
                        <a id="social-twitter"
                           href="#"
                           title="Twitter"
                           target="_blank">
                            <span class="icon"></span>
                            <span class="desc">twitter.com/<strong>musicatop</strong></span>
                        </a>
                    </li>
                    <li>
                        <a id="social-facebook"
                           href="#"
                           title="Facebook"
                           target="_blank">
                            <span class="icon"></span>
                            <span class="desc">facebook.com/<strong>musicatop</strong></span>
                        </a>
                    </li>
                </ul>
                <div id="likebox-facebook">
                    <div class="fb-like-box"
                         data-href="https://www.facebook.com/FacebookDevelopers"
                         data-width="680"
                         data-height="180"
                         data-colorscheme="light"
                         data-show-faces="true"
                         data-header="false"
                         data-stream="false"
                         data-show-border="false"></div>
                </div>
            </div>
            <!-- /.footer-social -->
            <ul class="footer-links">
                <li><a ui-sref="sobre"
                       href="#"
                       title="Sobre">Sobre</a></li>
                <li><a ui-sref="termos"
                       href="#"
                       title="Termos de Uso">Termos de Uso</a></li>
                <li><a ui-sref="politica"
                       href="#"
                       title="Política de Privacidade">Política de Privacidade</a></li>
                <li><a ui-sref="faleconosco"
                       href="#"
                       title="Fale Conosco">Fale Conosco</a></li>
            </ul>
        </div>
        <!-- /.limits -->
    </div>
    <!-- /.footer-primary -->
    <div class="footer-secondary">
        <div class="limits">
            <p>&copy; 2014 Música Top. Todos os direitos reservados.</p>
        </div>
        <!-- /.limits -->
    </div>
    <!-- /.footer-primary -->
</footer>