<section id="banners"
         ng-show="bannersLoaded">
    <slick settings="slickConfig"
           style="max-height: 368px;margin-bottom: 0"
           control="slickHandle"
           media="home.banners"
           src="views/banners.html"
           on-directive-init="onDirectiveInit()"></slick>
    <div class="banners-mask"><span class="left"></span><span class="right"></span></div>
    <div id="banners-thumbs">
        <ul class="banners-thumbs-ul slides">
            <li ng-repeat="banner in home.banners"
                ng-class="{'active':slickHandle.currentSlide == $index}">
                <a title="{{banner.titulo}}"
                   ng-click="slickHandle.slickGoTo($index)">
                    <img ng-src="{{banner.src}}"
                         src="http://placehold.it/131x42"
                         fallback-src="http://placehold.it/131x42"
                         alt="{{banner.titulo}}">
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="main-content index">
    <div class="limits clearfix three-cols">
        <div id="most-downloaded"
             class="box">
            <div class="box-header">
                <h2 class="box-title"><strong>Mais</strong> Baixados</h2>
            </div>
            <!-- /.box-header -->
            <div ng-tabs
                 class="box-content">
                <div class="most-downloaded-controls">
                    <a ng-tab-head="active"
                       href="#"
                       ng-show="false"
                       ng-click="$event.preventDefault()"
                       title="Mês"
                       class="tab-button active">Mês</a>
                    <!--GERAL-->
                    <a ng-tab-head
                       href="#"
                       ng-show="false"
                       ng-click="$event.preventDefault()"
                       title="Geral"
                       class="tab-button">Geral</a>
                </div>
                <!-- /.most-downloaded-controls -->
                <div class="tab-content most-download-wrapper"
                     ng-tab-body="animated fadeIn">
                    <ul class="most-downloaded-list">
                        <li id="most-downloaded-item"
                            ng-repeat="cd in home.mais_baixados"
                            class="most-downloaded-list-box-cd">
                            <span class="number">{{$index+1}}</span>

                            <div class="hover">
                                <div class="hover-content">
                                    <h2 class="title">
                                        <a ui-sref="cd({id:cd.id})"
                                           href="#"
                                           title="{{cd.titulo}}"
                                           class="title-a">{{cd.titulo}}</a>
                                    </h2>
                                    <a ui-sref="perfil({id:cd.artista.id})"
                                       class="user"
                                       title="Usuário">Enviado por: {{cd.artista.nome}}</a>

                                    <p class="downloads"
                                       style="color:white;right: 25px">{{cd.genero.nome}}</p>

                                    <p class="downloads"><strong>{{cd.downloads}}</strong> downloads</p>
                                </div>
                                <!-- /.hover-content -->
                            </div>
                            <figure class="cd-thumb list-box-cd-thumb">
                                <img src="http://placehold.it/206x206"
                                     ng-style="{width: $index==0?205:98, height: $index==0?205:98}"
                                     ng-src="/public/img/{{cd.capa}}"
                                     alt="{{cd.titulo}}">
                            </figure>
                        </li>
                    </ul>
                </div>
                <!-- /.tab-content -->
                <div class="tab-content"
                     ng-tab-body="animated fadeIn">
                    :)
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.box-content -->
        </div>
        <!-- /#most-downloaded -->
        <div id="lastest-uploads"
             class="box">
            <div class="box-header">
                <h2 class="box-title"><strong>Últimos</strong> Uploads</h2>
            </div>
            <!-- /.box-header -->
            <div class="box-content">
                <div id="lastest-uploads-list">
                    <ul class="list-cd slides" settings="slickConfigVertical">
                        <li ng-repeat="cd in home.uploads">
                            <div class="list-cd-box clearfix">
                                <figure class="cd-thumb list-cd-box-thumb">
                                    <a ui-sref="cd({id:cd.id})"
                                       title="{{cd.titulo}}"> <img src="http://placehold.it/71x71"
                                                                   width="71"
                                                                   height="71"
                                                                   ng-src="/public/img/{{cd.capa}}"> </a>
                                </figure>
                                <h2 class="list-cd-box-title">
                                    <a ui-sref="cd({id:cd.id})"
                                       title="{{cd.titulo}}">{{cd.titulo}}</a>
                                </h2>
                                <span class="genre">{{cd.genero.nome}}</span>
                                <a ui-sref="perfil({id:cd.artista.id})"
                                   class="user list-cd-box-user"
                                   title="Enviado por {{cd.artista.nome}}">Enviado por {{cd.artista.nome}}</a>
                                <span class="time"><span am-time-ago="cd.createdAt"></span></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- #lastest-uploads-list -->
                <div class="box-content-buttons">
                    <a href="#"
                       class="button-arrow"
                       title="Ver todos os uploads">Ver todos <span class="arrow"></span></a>
                </div>
                <!-- /.box-content-buttons -->
            </div>
            <!-- /.box-content -->
        </div>
        <!-- /#lastest-uploads -->
        <div id="next-events"
             class="box">
            <div class="box-header">
                <h2 class="box-title"><strong>Próximos</strong> Eventos</h2>
            </div>
            <!-- /.box-header -->
            <div class="box-content">
                <!--<p class="message-empty"
                   ng-if="home.eventos.length == 0">
                    Nenhum evento cadastrado no momento. </p>-->
                <ul class="list-events">
                    <li class="list-events-box"
                        ng-repeat="evento in home.eventos">
                        <a ui-sref="evento({id:evento.id})"
                           class="list-events-box-a">
                            <figure class="cd-thumb list-events-box-thumb">
                                <img src="http://placehold.it/312x110"
                                     width="312"
                                     height="110"
                                     ng-src="/public/img/{{evento.foto}}">
                            </figure>
                            <div class="list-events-box-thumb-text clearfix">
                                <strong class="dates">{{evento.inicio| amCalendar}}</strong>
                                <h2 class="title">{{evento.nome}}</h2>
                                <span class="local">{{evento.local.name}}
                                    / {{evento.cidade.nome}}</span> <span class="button">Saiba Mais</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="box-content-buttons">
                    <a ui-sref="eventos"
                       class="button-arrow"
                       title="Ver todos os uploads">Ver todos <span class="arrow"></span></a>
                </div>
            </div>
            <!-- /.box-content -->
        </div>
        <!-- /#next-events -->
    </div>
    <!-- /.limits -->
</section>