<section id="policies"
         style="margin-top: 10px">
    <div class="limits" style="margin-top:100px">
        <h3 style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#e11d70;font-size: 30px'>
            POLÍTICA DE PRIVACIDADE</h3>
        <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999999;font-size: 14px;margin: 10px'>
            Respeitamos sua privacidade.</p>
        <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999999;font-size: 14px;margin: 10px'>
            Não compartilhamos seus dados pessoais com terceiros.</p>
        <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999999;font-size: 14px;margin: 10px'>
            Somente entraremos em contato com os usuários cadastrados caso haja necessidade de tratar/informar sobre
            assuntos de interesse ou que tenham optado por receber este tipo de comunicado.</p>
    </div>
</section>