<section id="profile"
         style="margin-top: 20px">
    <div class="limits">
        <header class="profile-header">
            <div style='background: url("images/logo_festival.png") no-repeat; width: 340px;height: 160px;position: relative;left: 20px;top: 10px;'>
                <a ng-click="processVote()" class="button-arrow" title="Votar!" style="width: 220px;
    margin-top: 110px;
    margin-left: 22px;
">Votar nesse artista<span class="arrow"></span></a>
            </div>
            <figure class="profile-cover" style="margin-top: -200px">
                <img src="http://placehold.it/1000x368"
                     ng-src="/public/img/{{perfil.usuario.capa}}">
            </figure>
            <div class="profile-dados clearfix">
                <figure class="avatar">
                    <img src="http://placehold.it/124x124"
                         style="width: 124px;height: 124px;"
                         ng-src="/public/img/{{perfil.usuario.foto}}">
                </figure>
                <div class="info">
                    <h1 class="name">{{perfil.usuario.nome}}</h1>

                    <p class="desc">{{perfil.usuario.cidade.nome}}</p>
                </div>
                <div class="redes">
                    <ul>
                        <li><a ng-href="{{'http://instagram.com/' + perfil.usuario.instagram}}"
                               target="_blank"
                               title="Instagram"
                               class="instagram">Instagram</a></li>
                        <li><a ng-href="{{'http://twitter.com/' + perfil.usuario.twitter}}"
                               target="_blank"
                               title="Twitter"
                               class="twitter">Twitter</a></li>
                        <li><a ng-href="{{'http://facebook.com/' + perfil.usuario.facebook}}"
                               target="_blank"
                               title="Facebook"
                               class="facebook">Facebook</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="profile-content clearfix">
            <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#333333;margin: -20px 5px 30px;'>{{perfil.usuario.about}}</p>
            <article class="profile-uploads box">
                <div class="box-header divider clearfix">
                    <h2 class="box-title"><strong>Últimos</strong> Uploads</h2>
                  <span class="count-description">
                      <strong>{{perfil.cds.length}}</strong> uploads
                  </span>
                </div>
                <!-- /.box-header -->
                <div class="box-content">
                    <ul class="list-cd">
                        <li ng-repeat="cd in perfil.cds">
                            <div class="list-cd-box clearfix">
                                <figure class="cd-thumb list-cd-box-thumb">
                                    <a ui-sref="cd({id:cd.id})"
                                       title="{{cd.titulo}}">
                                        <img ng-src="/public/img/{{cd.capa}}"
                                             style="width: 70px;height: 70px;">
                                    </a>
                                </figure>
                                <h2 class="list-cd-box-title">
                                    <a ui-sref="cd({id:cd.id})"
                                       title="Aviões do Forró - Ao Vivo Aracajú - 2014">{{cd.titulo}}</a>
                                </h2>
                                <a ui-sref="genero({id:cd.genero.id})"
                                   class="user list-cd-box-user"
                                   title="">{{cd.genero.nome}}</a>

                                <p class="time">Enviado <span am-time-ago="cd.createdAt"></span></p>
                            </div>
                            <!-- /.list-cd-box -->
                        </li>
                    </ul>
                </div>
                <!-- /.box-content -->
            </article>
            <!-- /.profile-uploads -->
            <article class="profile-calendar box">
                <div class="box-header">
                    <h2 class="box-title"><strong>Calendário</strong> de Eventos</h2>
                </div>
                <!-- /.box-header -->
                <ul class="list-events">
                    <li class="list-events-box"
                        ng-repeat="evento in perfil.eventos">
                        <a ui-sref="evento({id:evento.id})"
                           class="list-events-box-a">
                            <figure class="cd-thumb list-events-box-thumb">
                                <img src="http://placehold.it/312x110"
                                     width="312"
                                     height="110"
                                     ng-src="/public/img/{{evento.foto}}">
                            </figure>
                            <div class="list-events-box-thumb-text clearfix">
                                <strong class="dates">{{evento.inicio| amCalendar}}</strong>

                                <h2 class="title">{{evento.nome}}</h2>
                                <span class="local">{{evento.local.name}} / {{evento.cidade.nome}}</span> <span
                                    class="button">Saiba Mais</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.box-content -->
            </article>
            <!-- /.profile-calendar -->
        </div>
    </div>
    <!-- /.limits -->
</section>