<section id="about">
    <div class="limits" style="margin-top:100px">
        <h3 style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#e11d70;font-size: 30px'>
            SOBRE O PALCO MÚSICA TOP</h3>

        <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999999;font-size: 14px;margin: 10px'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis accumsan vestibulum. Sed
            pellentesque rutrum ligula eu vulputate. Nam non nisi erat. Nulla facilisi. Duis ornare vel neque interdum
            tincidunt. Nunc a viverra ligula. Curabitur vehicula quis lorem id accumsan. Quisque elementum bibendum
            mollis. Cras lobortis purus a turpis porta, sit amet tempor magna rhoncus. Nulla mi mauris, efficitur ac
            nisi quis, consequat ultricies libero.</p>

        <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999999;font-size: 14px;margin: 10px'>
            Ut quis dolor ac est placerat ullamcorper eu non lacus. Donec quis nibh quis ex eleifend blandit. Ut lacinia
            accumsan metus, at efficitur turpis venenatis eu. Etiam condimentum pulvinar quam vel consequat. Curabitur
            pretium sodales condimentum. Morbi viverra lacinia felis vel rhoncus. Etiam lacinia iaculis dui ac
            ultricies. Praesent ut quam at turpis varius facilisis at sed lacus. Fusce varius, sapien id tincidunt
            efficitur, lacus odio maximus neque, nec sagittis orci ligula vitae ipsum. Praesent diam urna, faucibus ac
            mi sed, varius efficitur sapien. Ut ultricies dui nec diam ultrices pretium. In finibus elit in faucibus
            gravida. In sit amet odio orci.</p>

        <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999999;font-size: 14px;margin: 10px'>
            Curabitur cursus mi nec quam ornare hendrerit. Morbi id imperdiet sapien. Fusce ut ligula scelerisque, porta
            augue non, efficitur urna. Nam sed metus aliquet sapien luctus sollicitudin eget nec massa. Praesent
            consequat turpis nisi, ut iaculis ex laoreet eu. Nam maximus odio suscipit nunc luctus varius. Mauris
            scelerisque in tellus rhoncus aliquet. Sed eget ultrices odio. Vestibulum condimentum eleifend quam ac
            tempor. Sed id ligula ut erat sollicitudin commodo.</p>
    </div>
</section>