<div class="list_item slide"
     ng-class="{'active':$parent.$parent.player.playing && $index== $parent.$parent.player.currentTrack-1}"
     ng-repeat="song in media"
     on-finish-render="init()">
    <a ng-click="$parent.$parent.player.play($index)"
       class="song_bt"
       title="{{song.title}}">
        <figure class="cd-thumb">
            <img src="http://placehold.it/52x52"
                 width="52"
                 height="52"
                 ng-src="/public/img/{{song.cd.capa}}"
                 alt="">
        </figure>
    </a>
    <p class="text"
       title="{{song.title}}">
        <strong class="music">{{song.title |truncate:40}}</strong>
        <span class="artist"><a class="link-pink"
                                ui-sref="cd({id:song.cd.id})">{{song.cd.titulo}}</a></span> <br/>
        <span class="artist">Enviado por: <a class="link-pink"
                                              ui-sref="perfil({id:song.cd.artista.id})">{{song.cd.artista.nome}}</a>
        </span>
    </p>
</div>