<section id="termos">
    <div class="limits" style="margin-top:100px">
        <h3 style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#e11d70;font-size: 30px'>
            TERMOS DE USO</h3>

        <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999999;font-size: 14px;margin: 10px'>
            Para criar sites de bandas e utilizar os serviços deste site você precisa concordar com as regras
            abaixo e
            com o Aviso Legal. A violação poderá resultar na exclusão de seu site do nosso sistema sem aviso prévio.</p>

        <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999999;font-size: 14px;margin: 10px'>O conteúdo de cada site de banda é de única e exclusiva responsabilidade civil e penal do assinante e/ou
            visitante cadastrado cuja senha tenha sido usada para sua criação.</p>

        <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999999;font-size: 14px;margin: 10px'>As bandas e artistas não devem publicar material protegido por direitos autorais nem publicar fotos ou textos
            sem autorização do autor ou de seu representante.</p>

        <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999999;font-size: 14px;margin: 10px'>Não devem também publicar fotos sem autorização dos fotografados e não devem distribuir arquivos de som sem
            autorização de pessoas ou empresas responsáveis.</p>

        <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999999;font-size: 14px;margin: 10px'>O Palco Música Top não se responsabiliza pelo conteúdo publicado. O conteúdo dos sites de bandas e artistas
            não são revisados por Música Top.</p>

        <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999999;font-size: 14px;margin: 10px'>Música Top se reserva o direito de excluir sites que contrariem os termos de uso à seu exclusivo critério,
            sem aviso prévio.</p>

        <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999999;font-size: 14px;margin: 10px'>A Equipe Música Top necessita utilizar fotos e elementos gráficos presentes no Música Top, sites oficiais ou
            não de bandas e artistas para aplicação nas imagens de destaque da página principal. Com isso, as bandas e
            artistas devem concordar que a Equipe Música Top faça a utilização dos itens citados.</p>

        <p style='font: normal 16px "pf_square_sans_proregular", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#999999person;font-size: 14px;margin: 10px'>Este aviso pode ser alterado sem aviso prévio, por isto, se faz necessário o acesso a esta página
            periodicamente.</p>
    </div>
</section>